body{
  background-image: url("../imagenes/fondo.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;  
  }
  ul{
    color: white;
  }
p{
  text-align: justify;
  font-family: 'Lora', serif;
  color: white;
}
h1{
  color: white;
}


.menu-superior{
  position: fixed;
  width: 100%;
  background-color:black;
  height: 56px;
  top: 0px;   
}
.menu-superior ul{
  text-align: center;
  list-style-type: none;
  margin-top: 10px, auto;
}
.menu-superior ul li {
  font-family: cursive;
  font-size: 14px;
  display: inline-block;
  margin: 4px;
  padding: 1px;
  
}


.menu-superior ul li a {
  text-decoration: none;
  color: white;
}
.menu-izq{
  background: none;
  position: fixed;
  height: 100%;
  width: 140px;
  float: left;
  left: 0px;
  top: 56px;
}
.menu-izq ul{
  list-style: none;
  margin: 10px;
  padding: 0px;
}
.menu-izq ul li {
  text-align: center;
  font-family: cursive;
  font-size: 14px;
  padding: 9px;
}
.menu-izq a{
  text-decoration: none;
  color: white;
}

.menu-izq ul li img{
  
  margin-top:3px;
  margin-bottom: 3px; 
  margin-left: 3px;
  margin-right: 9px;
  width: 64px;
  height: 70px;
}
.contenedor{
  background: none;
  
}
.selected{
  border-bottom: 2px solid wheat;
  border-radius: 2%;
}

.selected a{
  font-weight: bold;
  color: wheat;
}
.cuerpo{
  margin-top: 130px;
  margin-left: 15%;
  margin-right: 150px;
  margin-bottom: 60px;
}

.titulo{
  width: 67%;
  text-align: center;
  float: right;
}

.img-inicio{
  width: 270px;
  height: 320px;
  text-align: left;
  float: left;
}

.introduccion{
  text-align: justify;
  width: 67%;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}

.img-cuento{
  width: 100%;
  height: 450px;
  text-align: center;
}
